<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583598744130-ghse0ftppnma6b41kf5nvu5tn89s96kp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583598744130-ghse0ftppnma6b41kf5nvu5tn89s96kp</string>
	<key>API_KEY</key>
	<string>AIzaSyAjTCJgA8yfSUfJGF03B5UzWpU0yaNZQ50</string>
	<key>GCM_SENDER_ID</key>
	<string>583598744130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hambrout</string>
	<key>PROJECT_ID</key>
	<string>hambrout</string>
	<key>STORAGE_BUCKET</key>
	<string>hambrout.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583598744130:ios:efc90167eaa7e1c7fe03db</string>
</dict>
</plist>